<template>
<div>
<h1>Products List</h1>


<table class="table table-bordered table-hover" style="text-align:center">

<thead>

<tr>

<th>#</th>

<th>Name</th>
<th>Price</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr v-for="contact in contacts" :key="contact.sku">

<th>{{ contact.sku }}</th>

<th>{{ contact.name }}</th>

<td>{{ contact.price }}</td>

<td>
<button class="btn btn-danger" @click="getProduct(contact.uuid)"> edit</button>
<button class="btn btn-danger" @click="deleteContact(contact.uuid)"> X</button>
</td>
</tr>
</tbody>
</table>
<div>
</div>




    <form>
    <input type="hidden" name="id" v-model="id">
    <input type="hidden" name="uuid" v-model="uuid">
      <label>SKU</label>
      <input type="text" name="sku" v-model="sku">
      <label>Name</label>
      <input type="text" name="name" v-model="name">
      <label>Price</label>
      <input type="text" name="price" v-model="price">

      <input type="button" @click="createContact()" id="add" value="Add">
      <input type="button" @click="updateContact()" id="update" value="Update">
    </form>

</div>

</template>

<script>
import axios from 'axios';
const aAPI_URL = 'https://gm-hiring.myres.cc/api/v1/assessments/d558f91e-4f58-4599-a052-c37de39b27b8';
import {APIService} from '../APIService';

const apiService = new APIService();

export default {

name: 'ListContacts',

components: {

},

data() {

return {
id: '',
uuid: '',
name: '',
sku: '',
price: '',
contacts: [],
numberOfContacts:0,

};

},

methods: {

getProducts(){
    apiService.getProducts().then((data) => {

        this.contacts = data.data;
        this.numberOfContacts= data.count;
    });
},

getProduct(id){
    apiService.getProduct(id).then((data) => {

        //this.contacts = data.data;
        this.uuid = data.data.uuid;
        this.name = data.data.sku;
        this.sku = data.data.name;
        this.price = data.data.price;
        //this.numberOfContacts= data.count;
      
    });
},

deleteContact(contact){
    apiService.deleteContact(contact).then((data) => {

        console.log(data);
        this.getProducts();
    });
},

createContact: function(){
      const url = `${aAPI_URL}/products`;
        let formData = new FormData();
        console.log("name:", this.name)
        formData.append('name', this.name)
        formData.append('sku', this.sku)
        formData.append('price', this.price)

        var contact = {};
        formData.forEach(function(value, key){
            contact[key] = value;
        });

        axios({
            method: 'post',
            url: url,
            data: formData,
            config: { headers: {'Content-Type': 'multipart/form-data' }}
        })
        .then(function(response) {
          window.location.reload();
            this.getProducts();
            //handle success
            console.log(response);
            //this.contacts.push(contact);
            
            this.resetForm();
            
        })
        .catch(function (response) {
            //handle error
            console.log(response)
        });
    },

  updateContact: function(){

      alert(this.uuid);
      const purl = `${aAPI_URL}/products/${this.uuid}`;
        let formData = new FormData();
        console.log("name:", this.name)
        formData.append('_method', 'PUT')
        formData.append('id', this.id)
        formData.append('uuid', this.uuid)
        formData.append('name', this.name)
        formData.append('sku', this.sku)
        formData.append('price', this.price)

        var contact = {};
        formData.forEach(function(value, key){
            contact[key] = value;
        });

        axios({
            method: 'post',
            url: purl,
            data: formData,
            config: { headers: {'Content-Type': 'multipart/form-data' }}
        })
        .then(function (response) {
        window.location.reload();
            //handle success
            console.log(response)
            //this.contacts.push(contact)
            this.getProducts();
            this.resetForm();
            
            
        })
        .catch(function (response) {
            //handle error
            console.log(response)
        });
    },

    resetForm: function(){
        this.name = '';
        this.sku = '';
        this.price = '';
    }
},

mounted() {
this.getProducts();
},
}
</script>
